<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>PUMA Identity Provider</display-name>
  <listener>
	    <listener-class>
	        com.sun.xml.ws.transport.http.servlet.WSServletContextListener
	    </listener-class>
	</listener>
	<servlet>
	    <servlet-name>jaxws</servlet-name>
	    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>jaxws</servlet-name>
	    <url-pattern>/AttributeQueryService</url-pattern>
	</servlet-mapping>
  	<servlet>
        <servlet-name>AuthenticationRequestServlet</servlet-name>
        <servlet-class>puma.idp.servlets.AuthenticationRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationRequestServlet</servlet-name>
        <url-pattern>/ProcessAuthenticationRequest</url-pattern>
    </servlet-mapping>
  	<servlet>
        <servlet-name>AuthenticationResponseServlet</servlet-name>
        <servlet-class>puma.idp.servlets.AuthnRequestResponderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationResponseServlet</servlet-name>
        <url-pattern>/SendResponse</url-pattern>
    </servlet-mapping>
  	<servlet>
        <servlet-name>InitializationServlet</servlet-name>
        <servlet-class>puma.idp.servlets.population.InitializationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializationServlet</servlet-name>
        <url-pattern>/InitializationServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>    
	<servlet>
	  <servlet-name>Faces Servlet</servlet-name>
	  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Faces Servlet</servlet-name>
	  <url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
</web-app>
